In [3]:
import pandas as pd

df = pd.read_csv('/Users/peekaboo645/code/Peekaboo64534/project_name/CONSUMPTION_PREDICTION/final_dataset.csv')
df

,datetime,homeid,gas (kWh),Consumption (kWh),Total (kWh),temp_mean,temp_min,temp_max,location_id,location_name,...,gas_appliance,total_area,room_count,windowsopen,mean_h,min_h,max_h,mean_t,min_t,max_t
0,2018-02-21,299,21.603,3.725250,25.328250,5.169474,2.9,6.9,1,Edinburgh,...,3,695,9,6,376.086842,300.0,482.0,166.892131,152.0,176.0
1,2018-02-22,299,23.288,3.692155,26.980155,3.996875,1.7,7.3,1,Edinburgh,...,3,695,9,6,346.724107,284.0,406.0,167.959710,153.0,176.0
2,2018-02-23,299,30.005,3.922362,33.927362,2.465625,-0.2,5.8,1,Edinburgh,...,3,695,9,6,330.993347,281.0,387.0,164.040397,142.0,177.0
3,2018-02-24,299,31.113,4.658932,35.771932,2.642708,-0.2,6.4,1,Edinburgh,...,3,695,9,6,333.801093,275.0,398.0,159.414724,136.0,181.0
4,2018-02-27,299,47.230,3.894231,51.124231,0.740625,-2.1,2.9,1,Edinburgh,...,3,695,9,6,284.559564,227.0,360.0,161.232275,148.0,174.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45110,2018-06-24,280,30.202,15.034794,45.236794,17.177083,10.3,24.0,1,Edinburgh,...,4,1135,11,8,538.658201,461.0,617.0,197.695330,193.0,203.0
45111,2018-06-25,280,19.008,11.688886,30.696886,18.744792,11.9,28.4,1,Edinburgh,...,4,1135,11,8,523.380765,453.0,579.0,205.794181,200.0,212.0
45112,2018-06-26,280,20.690,11.550507,32.240507,15.307292,11.8,22.2,1,Edinburgh,...,4,1135,11,8,579.544091,542.0,636.0,208.935495,206.0,213.0
45113,2018-06-29,280,12.190,10.084057,22.274057,13.848958,12.8,16.4,1,Edinburgh,...,4,1135,11,8,605.313361,594.0,646.0,210.950648,208.0,214.0
45114,2018-06-30,280,15.549,8.060609,23.609609,15.256250,11.6,19.2,1,Edinburgh,...,4,1135,11,8,596.568051,582.0,618.0,206.914388,205.0,209.0

In [4]:
df.isnull().sum()

datetime                0
homeid                  0
gas (kWh)               0
Consumption (kWh)       0
Total (kWh)             0
temp_mean               0
temp_min                0
temp_max                0
location_id             0
location_name           0
residents               0
hometype                0
occupied_days           0
occupied_nights         0
entry_floor             0
income_band_num         0
electric_appliance      0
gas_appliance           0
total_area              0
room_count              0
windowsopen             0
mean_h                294
min_h                 294
max_h                 294
mean_t                594
min_t                 594
max_t                 594
dtype: int64

In [27]:
df.describe()

,homeid,gas (kWh),Consumption (kWh),Total (kWh),temp_mean,temp_min,temp_max,location_id,residents,occupied_days,...,gas_appliance,total_area,room_count,windowsopen,mean_h,min_h,max_h,mean_t,min_t,max_t
count,45114.000000,45114.000000,45114.000000,45114.000000,45114.000000,45114.000000,45114.000000,45114.000000,45114.000000,45114.000000,...,45114.000000,45114.000000,45114.000000,45114.000000,44820.000000,44820.000000,44820.000000,44520.000000,44520.000000,44520.000000
mean,165.181828,41.521364,8.563922,50.085286,8.846782,5.772807,12.269393,5.287915,2.424635,4.105466,...,3.623465,859.696657,8.602740,5.805315,517.284750,473.961178,578.112584,182.828794,170.098899,196.680683
std,76.423919,60.378213,5.141998,62.075831,5.197981,4.671606,6.279259,8.884543,1.071557,2.119855,...,1.099376,291.466323,2.239888,1.890944,97.664298,102.513930,109.933117,33.839375,36.639079,36.411706
min,59.000000,0.000000,0.192421,0.224733,-3.907292,-7.500000,-2.500000,1.000000,0.000000,0.000000,...,1.000000,325.000000,4.000000,2.000000,134.625260,46.000000,166.000000,0.000000,0.000000,0.000000
25%,96.000000,6.952000,4.964030,14.483484,4.502083,2.000000,7.100000,1.000000,2.000000,2.000000,...,3.000000,660.000000,7.000000,4.000000,447.272581,402.000000,502.000000,170.793957,157.000000,184.000000
50%,157.000000,24.689500,7.627546,32.572820,8.576344,5.500000,11.700000,1.000000,2.000000,4.000000,...,4.000000,810.000000,8.000000,5.000000,517.376218,473.000000,575.000000,188.924006,177.000000,201.000000
75%,227.000000,57.542500,10.999277,67.383782,13.222917,9.900000,17.100000,1.000000,3.000000,6.000000,...,4.000000,1025.000000,10.000000,7.000000,586.511334,546.000000,652.000000,203.397138,193.000000,217.000000
max,335.000000,3706.452000,102.616242,3715.519872,23.566667,20.700000,32.300000,31.000000,5.000000,7.000000,...,6.000000,1865.000000,15.000000,11.000000,851.552857,842.000000,1024.000000,295.486513,278.000000,495.000000

In [6]:
df.dtypes

datetime               object
homeid                  int64
gas (kWh)             float64
Consumption (kWh)     float64
Total (kWh)           float64
temp_mean             float64
temp_min              float64
temp_max              float64
location_id             int64
location_name          object
residents               int64
hometype               object
occupied_days           int64
occupied_nights         int64
entry_floor             int64
income_band_num         int64
electric_appliance      int64
gas_appliance           int64
total_area              int64
room_count              int64
windowsopen             int64
mean_h                float64
min_h                 float64
max_h                 float64
mean_t                float64
min_t                 float64
max_t                 float64
dtype: object

In [7]:
df.nunique()

datetime                584
homeid                  236
gas (kWh)             17797
Consumption (kWh)     45103
Total (kWh)           45112
temp_mean              1379
temp_min                219
temp_max                269
location_id               5
location_name             5
residents                 6
hometype                  2
occupied_days             8
occupied_nights           7
entry_floor               8
income_band_num          16
electric_appliance       11
gas_appliance             6
total_area              140
room_count               12
windowsopen              10
mean_h                44816
min_h                   709
max_h                   770
mean_t                42136
min_t                   256
max_t                   269
dtype: int64

In [8]:
#len(df.index) - df.count()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45115 entries, 0 to 45114
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            45115 non-null  object
 1   homeid              45115 non-null  int64
 2   gas (kWh)           45115 non-null  float64
 3   Consumption (kWh)   45115 non-null  float64
 4   Total (kWh)         45115 non-null  float64
 5   temp_mean           45115 non-null  float64
 6   temp_min            45115 non-null  float64
 7   temp_max            45115 non-null  float64
 8   location_id         45115 non-null  int64
 9   location_name       45115 non-null  object
 10  residents           45115 non-null  int64
 11  hometype            45115 non-null  object
 12  occupied_days       45115 non-null  int64
 13  occupied_nights     45115 non-null  int64
 14  entry_floor         45115 non-null  int64
 15  income_band_num     45115 non-null  int64
 16  electric_appliance  45115 non-null  int64
 17  gas_appliance       45115 non-null  int64
 18  total_area          45115 non-null  int64
 19  room_count          45115 non-null  int64
 20  windowsopen         45115 non-null  int64
 21  mean_h              44821 non-null  float64
 22  min_h               44821 non-null  float64
 23  max_h               44821 non-null  float64
 24  mean_t              44521 non-null  float64
 25  min_t               44521 non-null  float64
 26  max_t               44521 non-null  float64
dtypes: float64(12), int64(12), object(3)
memory usage: 9.3+ MB

In [ ]:
X = data_train.drop([''], axis=1) # myFeatures
y = data_train['']  # myTargetVariable

In [ ]:
df.isnull().sum().sum()

2664

In [ ]:
df.isnull().any()

datetime              False
homeid                False
gas (kWh)             False
Consumption (kWh)     False
Total (kWh)           False
temp_mean             False
temp_min              False
temp_max              False
location_id           False
location_name         False
residents             False
hometype              False
occupied_days         False
occupied_nights       False
entry_floor           False
income_band_num       False
electric_appliance    False
gas_appliance         False
total_area            False
room_count            False
windowsopen           False
mean_h                 True
min_h                  True
max_h                  True
mean_t                 True
min_t                  True
max_t                  True
dtype: bool

In [15]:
df_0=df[df['Total (kWh)'] < 0]

In [16]:
df_0

,datetime,homeid,gas (kWh),Consumption (kWh),Total (kWh),temp_mean,temp_min,temp_max,location_id,location_name,...,gas_appliance,total_area,room_count,windowsopen,mean_h,min_h,max_h,mean_t,min_t,max_t
19302,2017-11-21,188,-388.834,6.12371,-382.71029,8.965278,6.9,12.0,1,Edinburgh,...,4,880,9,5,684.04111,650.0,754.0,179.306957,168.0,200.0

In [20]:
df_1 = df[df['gas (kWh)'] > 300 ]

In [21]:
df_1

,datetime,homeid,gas (kWh),Consumption (kWh),Total (kWh),temp_mean,temp_min,temp_max,location_id,location_name,...,gas_appliance,total_area,room_count,windowsopen,mean_h,min_h,max_h,mean_t,min_t,max_t
1266,2017-12-01,138,306.479,9.428746,315.907746,6.225263,5.0,7.9,26,EastLothian,...,4,1025,9,7,515.814713,462.0,617.0,166.548345,151.0,181.0
1274,2017-12-09,138,456.233,12.118741,468.351741,3.439583,0.8,5.6,26,EastLothian,...,4,1025,9,7,544.761435,498.0,661.0,163.024045,146.0,181.0
1280,2017-12-15,138,463.180,7.845675,471.025675,7.006250,3.7,9.0,26,EastLothian,...,4,1025,9,7,534.372786,508.0,586.0,164.814704,148.0,181.0
1281,2017-12-16,138,302.068,10.427555,312.495555,4.709375,0.3,7.2,26,EastLothian,...,4,1025,9,7,532.576498,509.0,596.0,165.333040,143.0,180.0
1848,2017-12-20,105,393.736,7.133099,400.869099,9.168750,6.8,11.5,21,Midlothian,...,5,760,8,4,557.712714,480.0,635.0,155.753880,114.0,199.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44637,2018-03-01,257,301.419,8.947674,310.366674,-1.760417,-3.7,0.0,1,Edinburgh,...,2,635,6,4,273.234892,213.0,544.0,201.279065,194.0,230.0
44638,2018-03-02,257,307.535,5.547382,313.082382,0.119792,-1.1,0.8,1,Edinburgh,...,2,635,6,4,261.284397,225.0,432.0,198.981389,180.0,216.0
44729,2017-12-11,243,1007.981,7.734447,1015.715447,2.413830,-1.2,7.0,26,EastLothian,...,3,775,9,7,462.928513,412.0,562.0,202.838355,175.0,214.0
44782,2018-02-10,243,370.862,10.962046,381.824046,6.906383,0.5,13.0,26,EastLothian,...,3,775,9,7,511.218540,439.0,692.0,188.176570,167.0,203.0
44787,2018-02-17,243,321.295,5.251381,326.546381,6.704211,3.8,11.5,26,EastLothian,...,3,775,9,7,468.934974,427.0,539.0,187.927364,169.0,195.0

In [23]:
df.iloc[19302]

datetime              2017-11-21
homeid                       188
gas (kWh)               -388.834
Consumption (kWh)        6.12371
Total (kWh)           -382.71029
temp_mean               8.965278
temp_min                     6.9
temp_max                    12.0
location_id                    1
location_name          Edinburgh
residents                      3
hometype                    flat
occupied_days                  4
occupied_nights                7
entry_floor                    0
income_band_num               15
electric_appliance             6
gas_appliance                  4
total_area                   880
room_count                     9
windowsopen                    5
mean_h                 684.04111
min_h                      650.0
max_h                      754.0
mean_t                179.306957
min_t                      168.0
max_t                      200.0
Name: 19302, dtype: object

In [24]:

df = df.drop(19302)

BASELINE MEAN MODEL -TOTAL kWh

In [32]:
baseline_prediction = df['Total (kWh)'].mean()
baseline_error = ((df['Total (kWh)'] - baseline_prediction) ** 2).mean()

In [33]:
baseline_prediction

50.08528642468709

In [34]:
baseline_error

3853.3233714282846

In [39]:
! pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.9.0-cp310-cp310-macosx_10_12_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.2.1-cp310-cp310-macosx_10_9_x86_64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.53.0-cp310-cp310-macosx_10_9_universal2.whl.metadata (162 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.2/162.2 kB 4.1 MB/s eta 0:00:00a 0:00:01
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp310-cp310-macosx_10_9_x86_64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in /Users/peekaboo645/.pyenv/versions/3.10.6/envs/CONSUMPTION_PREDICTION/lib/python3.10/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Users/peekaboo645/.pyenv/versions/3.10.6/envs/CONSUMPTION_PREDICTION/lib/python3.10/site-packages (from matplotlib) (24.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.3.0-cp310-cp310-macosx_10_10_x86_64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/peekaboo645/.pyenv/versions/3.10.6/envs/CONSUMPTION_PREDICTION/lib/python3.10/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/peekaboo645/.pyenv/versions/3.10.6/envs/CONSUMPTION_PREDICTION/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.0-cp310-cp310-macosx_10_12_x86_64.whl (7.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 20.7 MB/s eta 0:00:0000:0100:01
Downloading contourpy-1.2.1-cp310-cp310-macosx_10_9_x86_64.whl (260 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 260.8/260.8 kB 9.4 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.53.0-cp310-cp310-macosx_10_9_universal2.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 18.4 MB/s eta 0:00:0000:0100:01
Downloading kiwisolver-1.4.5-cp310-cp310-macosx_10_9_x86_64.whl (68 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.1/68.1 kB 2.4 MB/s eta 0:00:00
Downloading pillow-10.3.0-cp310-cp310-macosx_10_10_x86_64.whl (3.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.5/3.5 MB 12.8 MB/s eta 0:00:0000:0100:01
Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.2/103.2 kB 3.3 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.53.0 kiwisolver-1.4.5 matplotlib-3.9.0 pillow-10.3.0 pyparsing-3.1.2

In [40]:
import numpy as np
import matplotlib.pyplot as plt

LINEAR REGRESSION

In [51]:
# Drop na values in existing dataframe
df.dropna(inplace=True)

# if you want to create new dataframe with dropped values from original dataframe
df_new = df.dropna()

# Define X and y
X = df_new.drop(columns=['Total (kWh)']).copy()
y = df_new['Total (kWh)'].copy()

,datetime,homeid,gas (kWh),Consumption (kWh),Total (kWh),temp_mean,temp_min,temp_max,location_id,location_name,...,gas_appliance,total_area,room_count,windowsopen,mean_h,min_h,max_h,mean_t,min_t,max_t
0,2018-02-21,299,21.603,3.725250,25.328250,5.169474,2.9,6.9,1,Edinburgh,...,3,695,9,6,376.086842,300.0,482.0,166.892131,152.0,176.0
1,2018-02-22,299,23.288,3.692155,26.980155,3.996875,1.7,7.3,1,Edinburgh,...,3,695,9,6,346.724107,284.0,406.0,167.959710,153.0,176.0
2,2018-02-23,299,30.005,3.922362,33.927362,2.465625,-0.2,5.8,1,Edinburgh,...,3,695,9,6,330.993347,281.0,387.0,164.040397,142.0,177.0
3,2018-02-24,299,31.113,4.658932,35.771932,2.642708,-0.2,6.4,1,Edinburgh,...,3,695,9,6,333.801093,275.0,398.0,159.414724,136.0,181.0
4,2018-02-27,299,47.230,3.894231,51.124231,0.740625,-2.1,2.9,1,Edinburgh,...,3,695,9,6,284.559564,227.0,360.0,161.232275,148.0,174.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45110,2018-06-24,280,30.202,15.034794,45.236794,17.177083,10.3,24.0,1,Edinburgh,...,4,1135,11,8,538.658201,461.0,617.0,197.695330,193.0,203.0
45111,2018-06-25,280,19.008,11.688886,30.696886,18.744792,11.9,28.4,1,Edinburgh,...,4,1135,11,8,523.380765,453.0,579.0,205.794181,200.0,212.0
45112,2018-06-26,280,20.690,11.550507,32.240507,15.307292,11.8,22.2,1,Edinburgh,...,4,1135,11,8,579.544091,542.0,636.0,208.935495,206.0,213.0
45113,2018-06-29,280,12.190,10.084057,22.274057,13.848958,12.8,16.4,1,Edinburgh,...,4,1135,11,8,605.313361,594.0,646.0,210.950648,208.0,214.0
45114,2018-06-30,280,15.549,8.060609,23.609609,15.256250,11.6,19.2,1,Edinburgh,...,4,1135,11,8,596.568051,582.0,618.0,206.914388,205.0,209.0

In [35]:
df_lin= df.drop(columns=['Total (kWh)'])

In [43]:
df_lin= df.dropna(inplace = True)

In [46]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [50]:
display(df_lin)

None

In [47]:
X = df_lin
y = df['Total (kWh)']

In [48]:


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)


model= LinearRegression

model.fit(X_train,y_train)

TypeError: Expected sequence or array-like, got <class 'NoneType'>