In [14]:
import pandas as pd

df = pd.read_csv('final_dataset.csv')
df

,datetime,homeid,gas (kWh),Consumption (kWh),Total (kWh),temp_mean,temp_min,temp_max,location_id,location_name,...,gas_appliance,total_area,room_count,windowsopen,mean_h,min_h,max_h,mean_t,min_t,max_t
0,2018-02-21,299,21.603,3.725250,25.328250,5.169474,2.9,6.9,1,Edinburgh,...,3,695,9,6,376.086842,300.0,482.0,166.892131,152.0,176.0
1,2018-02-22,299,23.288,3.692155,26.980155,3.996875,1.7,7.3,1,Edinburgh,...,3,695,9,6,346.724107,284.0,406.0,167.959710,153.0,176.0
2,2018-02-23,299,30.005,3.922362,33.927362,2.465625,-0.2,5.8,1,Edinburgh,...,3,695,9,6,330.993347,281.0,387.0,164.040397,142.0,177.0
3,2018-02-24,299,31.113,4.658932,35.771932,2.642708,-0.2,6.4,1,Edinburgh,...,3,695,9,6,333.801093,275.0,398.0,159.414724,136.0,181.0
4,2018-02-27,299,47.230,3.894231,51.124231,0.740625,-2.1,2.9,1,Edinburgh,...,3,695,9,6,284.559564,227.0,360.0,161.232275,148.0,174.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45110,2018-06-24,280,30.202,15.034794,45.236794,17.177083,10.3,24.0,1,Edinburgh,...,4,1135,11,8,538.658201,461.0,617.0,197.695330,193.0,203.0
45111,2018-06-25,280,19.008,11.688886,30.696886,18.744792,11.9,28.4,1,Edinburgh,...,4,1135,11,8,523.380765,453.0,579.0,205.794181,200.0,212.0
45112,2018-06-26,280,20.690,11.550507,32.240507,15.307292,11.8,22.2,1,Edinburgh,...,4,1135,11,8,579.544091,542.0,636.0,208.935495,206.0,213.0
45113,2018-06-29,280,12.190,10.084057,22.274057,13.848958,12.8,16.4,1,Edinburgh,...,4,1135,11,8,605.313361,594.0,646.0,210.950648,208.0,214.0
45114,2018-06-30,280,15.549,8.060609,23.609609,15.256250,11.6,19.2,1,Edinburgh,...,4,1135,11,8,596.568051,582.0,618.0,206.914388,205.0,209.0

In [15]:
df.isnull().sum()

datetime                0
homeid                  0
gas (kWh)               0
Consumption (kWh)       0
Total (kWh)             0
temp_mean               0
temp_min                0
temp_max                0
location_id             0
location_name           0
residents               0
hometype                0
occupied_days           0
occupied_nights         0
entry_floor             0
income_band_num         0
electric_appliance      0
gas_appliance           0
total_area              0
room_count              0
windowsopen             0
mean_h                294
min_h                 294
max_h                 294
mean_t                594
min_t                 594
max_t                 594
dtype: int64

In [16]:
df.describe()

,homeid,gas (kWh),Consumption (kWh),Total (kWh),temp_mean,temp_min,temp_max,location_id,residents,occupied_days,...,gas_appliance,total_area,room_count,windowsopen,mean_h,min_h,max_h,mean_t,min_t,max_t
count,45115.000000,45115.000000,45115.000000,45115.000000,45115.000000,45115.000000,45115.000000,45115.000000,45115.000000,45115.000000,...,45115.000000,45115.000000,45115.000000,45115.000000,44821.000000,44821.000000,44821.000000,44521.000000,44521.000000,44521.000000
mean,165.182334,41.511825,8.563868,50.075693,8.846785,5.772832,12.269387,5.287820,2.424648,4.105464,...,3.623473,859.697107,8.602749,5.805298,517.288470,473.965106,578.116508,182.828715,170.098852,196.680757
std,76.423147,60.411530,5.141953,62.108576,5.197923,4.671558,6.279190,8.884467,1.071548,2.119832,...,1.099365,291.463108,2.239864,1.890926,97.666385,102.516159,109.935030,33.838999,36.638669,36.411300
min,59.000000,-388.834000,0.192421,-382.710290,-3.907292,-7.500000,-2.500000,1.000000,0.000000,0.000000,...,1.000000,325.000000,4.000000,2.000000,134.625260,46.000000,166.000000,0.000000,0.000000,0.000000
25%,96.000000,6.952000,4.964122,14.481936,4.502083,2.000000,7.100000,1.000000,2.000000,2.000000,...,3.000000,660.000000,7.000000,4.000000,447.273834,402.000000,502.000000,170.794544,157.000000,184.000000
50%,157.000000,24.686000,7.627402,32.572547,8.576344,5.500000,11.700000,1.000000,2.000000,4.000000,...,4.000000,810.000000,8.000000,5.000000,517.380082,473.000000,575.000000,188.923820,177.000000,201.000000
75%,227.000000,57.542000,10.999262,67.383661,13.222917,9.900000,17.100000,1.000000,3.000000,6.000000,...,4.000000,1025.000000,10.000000,7.000000,586.512588,546.000000,652.000000,203.396715,193.000000,217.000000
max,335.000000,3706.452000,102.616242,3715.519872,23.566667,20.700000,32.300000,31.000000,5.000000,7.000000,...,6.000000,1865.000000,15.000000,11.000000,851.552857,842.000000,1024.000000,295.486513,278.000000,495.000000

In [17]:
df.dtypes

datetime               object
homeid                  int64
gas (kWh)             float64
Consumption (kWh)     float64
Total (kWh)           float64
temp_mean             float64
temp_min              float64
temp_max              float64
location_id             int64
location_name          object
residents               int64
hometype               object
occupied_days           int64
occupied_nights         int64
entry_floor             int64
income_band_num         int64
electric_appliance      int64
gas_appliance           int64
total_area              int64
room_count              int64
windowsopen             int64
mean_h                float64
min_h                 float64
max_h                 float64
mean_t                float64
min_t                 float64
max_t                 float64
dtype: object

In [18]:
df.nunique()

datetime                584
homeid                  236
gas (kWh)             17797
Consumption (kWh)     45103
Total (kWh)           45112
temp_mean              1379
temp_min                219
temp_max                269
location_id               5
location_name             5
residents                 6
hometype                  2
occupied_days             8
occupied_nights           7
entry_floor               8
income_band_num          16
electric_appliance       11
gas_appliance             6
total_area              140
room_count               12
windowsopen              10
mean_h                44816
min_h                   709
max_h                   770
mean_t                42136
min_t                   256
max_t                   269
dtype: int64

In [26]:
#len(df.index) - df.count()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45115 entries, 0 to 45114
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            45115 non-null  object
 1   homeid              45115 non-null  int64
 2   gas (kWh)           45115 non-null  float64
 3   Consumption (kWh)   45115 non-null  float64
 4   Total (kWh)         45115 non-null  float64
 5   temp_mean           45115 non-null  float64
 6   temp_min            45115 non-null  float64
 7   temp_max            45115 non-null  float64
 8   location_id         45115 non-null  int64
 9   location_name       45115 non-null  object
 10  residents           45115 non-null  int64
 11  hometype            45115 non-null  object
 12  occupied_days       45115 non-null  int64
 13  occupied_nights     45115 non-null  int64
 14  entry_floor         45115 non-null  int64
 15  income_band_num     45115 non-null  int64
 16  electric_appliance  45115 non-null  int64
 17  gas_appliance       45115 non-null  int64
 18  total_area          45115 non-null  int64
 19  room_count          45115 non-null  int64
 20  windowsopen         45115 non-null  int64
 21  mean_h              44821 non-null  float64
 22  min_h               44821 non-null  float64
 23  max_h               44821 non-null  float64
 24  mean_t              44521 non-null  float64
 25  min_t               44521 non-null  float64
 26  max_t               44521 non-null  float64
dtypes: float64(12), int64(12), object(3)
memory usage: 9.3+ MB

In [ ]:
X = data_train.drop([''], axis=1) # myFeatures
y = data_train['']  # myTargetVariable

In [30]:
! pip install perfplot

Collecting perfplot
  Downloading perfplot-0.10.2-py3-none-any.whl (21 kB)
Collecting matplotlib
  Downloading matplotlib-3.9.0-cp310-cp310-macosx_10_12_x86_64.whl (7.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 13.2 MB/s eta 0:00:0000:0100:01
Collecting rich
  Downloading rich-13.7.1-py3-none-any.whl (240 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.7/240.7 kB 7.3 MB/s eta 0:00:00
Requirement already satisfied: numpy in /Users/admin/.pyenv/versions/3.10.6/envs/CONSUMPTION_PREDICTION/lib/python3.10/site-packages (from perfplot) (1.26.4)
Collecting matplotx
  Downloading matplotx-0.3.10-py3-none-any.whl (25 kB)
Collecting kiwisolver>=1.3.1
  Downloading kiwisolver-1.4.5-cp310-cp310-macosx_10_9_x86_64.whl (68 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.1/68.1 kB 2.6 MB/s eta 0:00:00
Collecting fonttools>=4.22.0
  Downloading fonttools-4.53.0-cp310-cp310-macosx_10_9_universal2.whl (2.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 11.2 MB/s eta 0:00:0000:0100:01
Collecting pillow>=8
  Downloading pillow-10.3.0-cp310-cp310-macosx_10_10_x86_64.whl (3.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.5/3.5 MB 15.6 MB/s eta 0:00:0000:0100:01
Collecting cycler>=0.10
  Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/admin/.pyenv/versions/3.10.6/envs/CONSUMPTION_PREDICTION/lib/python3.10/site-packages (from matplotlib->perfplot) (2.9.0.post0)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.2/103.2 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in /Users/admin/.pyenv/versions/3.10.6/envs/CONSUMPTION_PREDICTION/lib/python3.10/site-packages (from matplotlib->perfplot) (24.0)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.2.1-cp310-cp310-macosx_10_9_x86_64.whl (260 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 260.8/260.8 kB 9.9 MB/s eta 0:00:00
Collecting markdown-it-py>=2.2.0
  Downloading markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 87.5/87.5 kB 3.4 MB/s eta 0:00:00
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/admin/.pyenv/versions/3.10.6/envs/CONSUMPTION_PREDICTION/lib/python3.10/site-packages (from rich->perfplot) (2.18.0)
Collecting mdurl~=0.1
  Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Requirement already satisfied: six>=1.5 in /Users/admin/.pyenv/versions/3.10.6/envs/CONSUMPTION_PREDICTION/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->perfplot) (1.16.0)
Installing collected packages: pyparsing, pillow, mdurl, kiwisolver, fonttools, cycler, contourpy, matplotlib, markdown-it-py, rich, matplotx, perfplot
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.53.0 kiwisolver-1.4.5 markdown-it-py-3.0.0 matplotlib-3.9.0 matplotx-0.3.10 mdurl-0.1.2 perfplot-0.10.2 pillow-10.3.0 pyparsing-3.1.2 rich-13.7.1

[notice] A new release of pip available: 22.2.1 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip

In [36]:
df.isnull().sum().sum()

2664

In [37]:
df.isnull().any()

datetime              False
homeid                False
gas (kWh)             False
Consumption (kWh)     False
Total (kWh)           False
temp_mean             False
temp_min              False
temp_max              False
location_id           False
location_name         False
residents             False
hometype              False
occupied_days         False
occupied_nights       False
entry_floor           False
income_band_num       False
electric_appliance    False
gas_appliance         False
total_area            False
room_count            False
windowsopen           False
mean_h                 True
min_h                  True
max_h                  True
mean_t                 True
min_t                  True
max_t                  True
dtype: bool